.todo__list--done {
    display: none;
}

.show-done .todo__list--done {
    display: block;
}

.footer__btn--complete .hide,
.show-done .footer__btn--complete .show {
    display: none;
}

.show-done .footer__btn--complete .hide {
    display: inline;
}


.todo__footer {
    margin-top: 2rem;
}